.panel {
    position: relative;
    height: 100%;
    flex-shrink: 0;
}

.resizeHandle {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
    background: transparent;
    transition: background 0.2s;
    z-index: 10;
}

.resizeHandle:hover {
    background: #0969da;
}

.resizeHandle:active {
    background: #0860ca;
}