.canvasContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background);
    user-select: none;
}

.gridBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(var(--grid-color) 1px, transparent 1px);
    background-size: 20px 20px;
    pointer-events: none;
}