.overlay {
    position: absolute;
    border: 2px solid var(--selection-border);
    pointer-events: all;
    cursor: move;
    z-index: 1000;
}

.handle {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border: 1px solid var(--selection-border);
    border-radius: 50%;
}

.nw {
    top: -6px;
    left: -6px;
    cursor: nw-resize;
}

.ne {
    top: -6px;
    right: -6px;
    cursor: ne-resize;
}

.sw {
    bottom: -6px;
    left: -6px;
    cursor: sw-resize;
}

.se {
    bottom: -6px;
    right: -6px;
    cursor: se-resize;
}